<button (click)="anyadirAlumno()"type="button" class="btn btn-primary">Añadir Alumno</button>
<table class="table table-bordered table-striped tabla" *ngIf="vertabla">
  <thead>
  <tr class="filters">
  <th>id</th>
  <th>Nombre</th>
  <th>Apellidos</th>
  <th>Ciudad</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let alumno of alumnos">
  <td>{{ alumno.id }}</td>
  <td>{{ alumno.nombre }}</td>
  <td>{{ alumno.apellidos }}</td>
  <td>{{ alumno.ciudad }}</td>
  <td><button (click)="borrarAlumno(alumno)"class="btn btn-danger">Borrar</button></td>
  <td><button (click)="modificar(alumno)"class="btn btn-success">Editar</button></td>
  </tr>
  </tbody>
 </table>
 <div *ngIf="visible">
 <form name="form">
  <div class="form-group">
    <label for="id">id</label>
    <input type="text" class="form-control" id="id" aria-describedby="id" placeholder="Enter id">
   
  </div>
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="text" class="form-control" id="nombre" aria-describedby="nombre" placeholder="Enter nombre">
   
  </div>
  <div class="form-group">
    <label for="apellidos">Apellidos</label>
    <input type="text" class="form-control" id="apellidos" aria-describedby="apellidos" placeholder="Enter apellidos">
   
  </div>
  <div class="form-group">
    <label for="ciudad">ciudad</label>
    <input type="text" class="form-control" id="ciudad" aria-describedby="ciudad" placeholder="Enter ciudad">
   
  </div>
  <button type="submit" class="btn btn-primary">Guardar</button>
  <button type="submit" class="btn btn-danger">Cancelar</button>
</form>
</div>